{# templates/email/new_account.html.twig #}
<h1>Forgot Password !</h1>

<p>
    Name: {{ name }} <br>
    Firstname: {{ firstname}} <br>
    Email: {{ user_email }} <br>
    Click <a href="{{ url }}?token={{ token }}">here</a> to reset your password
</p>